<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" href="/static/style.css">
</head>

<body class="auth-page">

  <div class="box">

    <h2>Login</h2>

    <input id="username" placeholder="Username">

    <br><br>

    <input id="password" type="password" placeholder="Password">

    <br><br>

    <button onclick="login()">
      Login
    </button>

    <br><br>

    <button onclick="goRegister()">
      Go to Register
    </button>

  </div>

  <script>

    function login() {

      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
      const sharedCart = localStorage.getItem("sharedCart");
      fetch("/login", {

        method: "POST",

        headers: {
          "Content-Type": "application/json"
        },

        body: JSON.stringify({
          username: username,
          password: password
        })

      })

      .then(response => response.json())

      .then(data => {

        alert(data.message);

        if (data.success) {

          localStorage.setItem("user", username);

          if (sharedCart) {
        localStorage.setItem("cart", sharedCart);
        localStorage.removeItem("sharedCart");
        window.location.href = "cart.html"; } 
        else 
        {window.location.href = "products.html";}
        }

      });

    }

    function goRegister() {
      window.location.href = "register.html";
    }

  </script>

</body>
</html>