<link rel="stylesheet" href="/static/style.css">

<h2>用户登录</h2>

<input id="username" placeholder="用户名">

<br><br>

<input id="password" type="password" placeholder="密码">

<br><br>

<button onclick="login()">
  登录
</button>

<br><br>

<button onclick="goRegister()">
  去注册
</button>

<script>

function login() {

  const username = document.getElementById("username").value;
  const password = document.getElementById("password").value;

  fetch("/login", {

    method: "POST",

    headers: {
      "Content-Type": "application/json"
    },

    body: JSON.stringify({
      username: username,
      password: password
    })

  })

  .then(response => response.json())

  .then(data => {

    alert(data.message);

    if (data.success) {

      localStorage.setItem("user", username);

      window.location.href = "products.html";
    }

  });

}

function goRegister() {
  window.location.href = "register.html";
}

</script>