<link rel="stylesheet" href="/static/style.css">

<h2>Products List</h2>

<input id="searchInput" placeholder="Search Products name..." oninput="filterProducts()">

<div class="category-buttons">
  <button onclick="setCategory('All')">All</button>
  <button onclick="setCategory('Electronics')">Electronics</button>
  <button onclick="setCategory('Coffee')">Coffee</button>
  <button onclick="setCategory('Storage')">Storage</button>
  <button onclick="setCategory('Bakeware')">Bakeware</button>
  <button onclick="setCategory('Decoration')">Decoration</button>
  <button onclick="setCategory('Food')">Food</button>
</div>

<div class="top-bar">
  <div></div>

  <div class="user-box">
    <span id="currentUser"></span>
    <button onclick="logout()">Logout</button>
  </div>
</div>

<button onclick="goCart()">View Cart</button>

<div id="list"></div>

<script>
let allProducts = [];
let currentCategory = "All";

const user = localStorage.getItem("user");

if (!user) {
  window.location.href = "login.html";
}

document.getElementById("currentUser").innerText = "Logged in as: " + user;

const container = document.getElementById("list");

fetch("/products")
  .then(response => response.json())
  .then(products => {
    allProducts = products;
    filterProducts();
  });

function view(id) {
  window.location.href = "product.html?id=" + id;
}

function goCart() {
  window.location.href = "cart.html";
}

function logout() {
  localStorage.removeItem("user");
  alert("You have been logged out.");
  window.location.href = "login.html";
}

function setCategory(category) {
  currentCategory = category;
  filterProducts();
}

function filterProducts() {
  const keyword = document.getElementById("searchInput").value.toLowerCase();

  const filtered = allProducts.filter(p => {
    const name = (p.name || "").toLowerCase();
    const category = (p.category || "").trim().toLowerCase();

    const matchName = name.includes(keyword);

    const matchCategory =
      currentCategory === "All" ||
      category === currentCategory.toLowerCase();

    return matchName && matchCategory;
  });

  renderProducts(filtered);
}

function renderProducts(products) {
  container.innerHTML = "";

  products.forEach(p => {
    const div = document.createElement("div");
    div.className = "product-card";

    div.innerHTML = `
      <img src="${p.image}" class="product-image">
      <h3>${p.name}</h3>
      <p>Price: $${p.price}</p>
      <button onclick="view(${p.id})">View Details</button>
    `;

    container.appendChild(div);
  });
}
</script>